/* @override http://localhost:8888/tman_frame/packages/tallacman_framework/themes/tallacman_framework/css/styles.css */


.fixed{
	position: fixed;
	background: whitesmoke;
	z-index: 12;
	top: 0;
	left: 0;
}


.inner-padding{ 
	padding: 50px;
}

header.header{ 
	height: 130px; 
	
}

